          <div class="right menu ui inverted">
            <div class="vertically fitted borderless item ui ">
              {% include "web/layouts/_partials/_header_links.html" %}
            </div>
          </div>