{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static "images/favicon-16x16.png" %}">
    {% include "web/layouts/_partials/_seo_tags.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "lib/semantic/semantic.min.css" %} " />

    {% include "web/layouts/_partials/grunticon.loader.html" %}

    <style>
    .ui.search .prompt {
      border-radius: 3px;
      height: 31px;
          padding: 5px 10px;
          font-size: 13px;
          line-height: 1.5;
    }
    .top-nav.ui.menu .item{
      font-size:1.2rem;
    }
    .intro-card a {
      color: #31842a;
    }
    .intro-card a:hover {
	text-decoration: underline;
        text-decoration-line: underline;
    }
    @media only screen and (max-width: 480px) {
      #doc { 
 margin-left: 0 !important;
margin-right: 0 !important;
    }
     .ui.google-search {
       width: 248px;
        }
.started.pushable .ui.fixed.menu > .container{
margin-left: 1em !important;
margin-right: 1em !important;
}   
.pusher > .ui.main.menu.fixed.inverted .item, .started.pushable > .ui.main.menu.fixed.inverted .item {
padding-left: 0.64285714em;
padding-right: 0.64285714em;
}
.ui.google-search input.gsc-search-button.gsc-search-button-v {
padding: 6px 10px;
}
}
    </style>
    
    {% block stylesheets %}
    {% endblock %}
    

    {% include "web/layouts/_partials/_ga.html" %}
  </head>
  <body  >
    <!-- body -->
      <!-- mobile sidebar -->
      <!-- pusher -->
        <!-- top nav ( mobile + desktop ) -->
        <!-- page content -->
    {% block mobile-drawer %}
      {% include "web/layouts/_partials/_default_mobile_sidebar.html" %}
    {% endblock %}
    
    <div class="pusher">
      
      <!-- Top header start-->
      <div class="ui fixed inverted main menu">
        <div class="ui container">
          <a class="launch icon item">
             <i class="content icon"></i>
          </a>
          
          <div class="item" style="font-size:1.3rem;">
            Nyaaya
          </div>
          <div class="item" >
            {% include "web/layouts/_partials/_solr_top_nav.html" %}
          </div>
          
          {% include "web/layouts/_partials/semantic/_top_nav_right_menu.html" %}
          
        </div>
      </div>
      <!-- Top header end -->
      
      <div class="page-content">
          {% block content %}
          {% endblock %}
      </div>
      
      {% include "web/layouts/_partials/_footer.html" %}
      
    <!-- pusher end -->
    </div>
    
   
    


  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="{% static "lib/semantic/semantic.min.js" %} "></script>
    <script  src="{% static "javascripts/main.js" %} "></script>

    
    {% block scripts %}
    {% endblock %}

  </body>
</html>
