{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static "images/favicon-16x16.png" %}">
    {% include "web/layouts/_partials/_seo_tags.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "lib/semantic/semantic.min.css" %} " />
    {% include "web/layouts/_partials/grunticon.loader.html" %}

    <style>
    .ui.search .prompt {
      border-radius: 3px;
      height: 31px;
          padding: 5px 10px;
          font-size: 13px;
          line-height: 1.5;
    }
    .intro-card a {
      color: #31842a;
    }
    .intro-card a:hover {
        text-decoration: underline;
        text-decoration-line: underline;
    }
    .explainer-card__supporting-text a:hover {
        text-decoration: underline;
        text-decoration-line: underline;
    }
    .explainer-card__supporting-text a {
    	color: #31842a;
    }
    .ldp-drawer-desktop .title .item.law-item {
	font-family: Montserrat,serif;
	font-size: .9rem;
    }
    
    .started.pushable > .pusher > .full.height > .toc > .ui.vertical.sidebar.menu .active.item {
      color: rgba(255,255,255,.8) !important;
    }
    @media only screen and (max-width: 480px) {
      #doc {
 margin-left: 0 !important;
margin-right: 0 !important;
    }
     .ui.google-search {
       width: 248px;
	}
.started.pushable .ui.fixed.menu > .container{
margin-left: 0em !important;
margin-right: 0em !important;	
}
.ui.container {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
.pusher > .ui.main.menu.fixed.inverted .item, .started.pushable > .ui.main.menu.fixed.inverted .item {
padding-left: 0.64285714em;
padding-right: 0.64285714em;
}
.ui.google-search input.gsc-search-button.gsc-search-button-v {
padding: 6px 10px;
}
}
    </style>    
    {% block stylesheets %}

    {% endblock %}

    {% include "web/layouts/_partials/_ga.html" %}
  
  </head>
  
  <body class="started pushable"  ontouchstart="" >
    
    <!-- body started pushable-->
      <!-- mobile sidebar -->
      <!-- top nav desktop -->
      <!-- pusher -->
        <!-- top nav mobile -->
        <!-- full height -->
          <!-- desktop sidebar -->
          <!-- page content -->
    
    
    {% block mobile-drawer %}
      {% include "web/layouts/_partials/_default_mobile_sidebar.html" %}
    {% endblock %}
    <!-- mobile TOC ends -->

    <!--  top bar with sidebar -->
    <div class="ui fixed inverted main menu top  desktop-top-nav-with-sidebar" style="">
      <div class="ui container">
        <div class="item">
          {% include "web/layouts/_partials/_solr_top_nav.html" %}
        </div>
        {% include "web/layouts/_partials/semantic/_top_nav_right_menu.html" %}

      </div>
    </div>
    <!-- ends -->
   
    
  
    <div class="pusher">
      <!--  Topbar without sidebar -->
      <div class="ui inverted fixed main menu top-nav">
        <div class="ui container">
          <a class="launch icon item">
            <i class="content icon"></i>
          </a>
          <div class="item"  style="font-size:1.3rem;">
            Nyaaya
          </div>

          <div class="item">
            {% include "web/layouts/_partials/_solr_top_nav.html" %}
          </div>
           
          {% include "web/layouts/_partials/semantic/_top_nav_right_menu.html" %}
        </div>
      </div>
    
      <!-- mobile top nav  ends -->
      <div class="full height">
        <div class="toc">
        {% block desktop-drawer %}
          
          {% include "web/layouts/_partials/_desktop_sidebar.html" %}
          
        {% endblock %}
        </div>
        <!-- desktop visible toc ends -->
      
    
        <div class="page-content">
          
          <div class="ui container">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      <!-- full height end -->
      </div>
    
    
    <!-- pusher end -->
    </div>
  
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted  grid">
          <div class="three wide column  computer only">
          </div>
          <div class="five wide column ">
            {% include "web/layouts/_partials/_footer_social_1.html" %}
          </div>
          <div class="eight wide column ">
             {% include "web/layouts/_partials/_footer_nyaaya_links.html" %}
          </div>
        </div>
      </div>
    </div>
    
    <!-- footer ends -->
  
 


  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="{% static "lib/semantic/semantic.min.js" %} "></script>
    <script  src="{% static "javascripts/main.js" %} "></script>


    <script>
  
    function scrollToAnchor(elem ){
        $('html,body').animate({scrollTop: $(elem).offset().top - '73'},'slow');
    }
  
    function anchorToScroll(elem, currentHash){
      var top = window.pageYOffset;
      var distance = top - $(elem).offset().top;
      var hash = $(elem).attr('id');
      if(hash != undefined) {
        if (distance < 70 && distance > -70 && currentHash != hash) {

          $(elem).removeAttr("id");
          $('#'+hash).removeAttr("id");
          //window.location.hash = (hash);
          
          var baseUrl = window.location.href.split('#')[0];
          window.location.replace( baseUrl + '#' + hash );
          
          currentHash = hash;
          $(elem).attr('id',hash);
          
          
          
          
        }
      }
      return currentHash;
    }
  
    $(document).ready(function(){
      $('.ui.accordion')
        .accordion()
      ;
      
      $('span.akn-components  span.akn-component article .akn-section > div.column').each(function(){
        $(this).removeAttr("id");
      });
      
      if(window.location.hash){
        if($(window.location.hash).length) {
          setTimeout(function(){ scrollToAnchor($(window.location.hash) ); }, 3);
        }
      }
      
      $(document).scroll(function () {
        var currentHash = window.location.hash;
        $('section.akn-section.ui.grid > div.column').each(function(){
          currentHash = anchorToScroll(this, currentHash);
        });
        $('span.akn-components > span.akn-component').each(function(){
          currentHash = anchorToScroll(this, currentHash);
        });

      });

      $("section .num a").click(function(e) {
        e.preventDefault();
        var dest = $(this).attr('href');
        if(dest !=  undefined){
          if(dest.indexOf('law/explain') === -1){
            window.location.hash = dest;
            scrollToAnchor($(dest));
          } else {
            window.location.href = dest;
          }
        }
      });

      $("a.law-item").click(function(e) {
        e.preventDefault();
        $("a.law-item.active").removeClass("active")
        $(this).addClass("active");
        var dest = $(this).attr('href');
        if(dest !=  undefined){
          window.location.hash = dest;
          scrollToAnchor($(dest));
        }
      });

    
    });
    </script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
  
  
  

