


.explainer-card {
  min-height: 64px;
  width: 100%;
  font-family: 'Montserrat', serif;
  background-color:#f4f9f4;
  padding:18px;
  /*margin-top:-20px;*/
  /*margin-left:18px;*/
  font-size: 14px;
}

.intro-card {
  font-family: 'Montserrat', serif;
  font-size:14px;
}

.intro-card  h3{
  font-family: 'Montserrat', serif;
  /*color: rgb(49, 132, 42);*/
  font-size: 19px;
}

.explainer-card__supporting-text .akn-p a {
  color: #31842a;
}
.explainer-card__supporting-text .akn-p a:hover {
  text-decoration: 'underline';
}


.explainer-card__supporting-text .akn-p h3, .explainer-card__supporting-text .akn-div h3,
.explainer-card__supporting-text .akn-p h4, .explainer-card__supporting-text .akn-div h4   {
  font-family: 'Montserrat', serif;
  color: rgb(49, 132, 42);
  font-size: 19px;
  margin-top: 16px;
}

.explainer-card__supporting-text table {
  margin-top: 16px;
}

.explainer-card .akn-p {
  display: inline-block;
  margin: 8px 0px;
}

.explainer-card li  .akn-p {
  margin: 6px 0px;
  display:block;
}

 .akoma-ntoso {
   padding-top:20px;
   font-family: 'Eligible', serif;
   font-size: 15px;
   line-height: 1.35; 
 }
 .akoma-ntoso h1, .akoma-ntoso h2, .akoma-ntoso h3, .akoma-ntoso h4, .akoma-ntoso h5, .akoma-ntoso .akn-heading {
     margin-top: 0px;
     margin-bottom: 0.8em;
     font-weight: bold; 
     font-family: 'Eligible', serif;
 }
 .akoma-ntoso h1 {
   font-size: 26px;
       line-height: 1.2; 
 }
 .akoma-ntoso h2, .akoma-ntoso .akn-heading {
         text-align: center;
         font-size: 19px;
         line-height: 1.2; 
       }
     .akoma-ntoso h3 {
           font-size: 18px;
           line-height: 1.35; 
         }
           .akoma-ntoso h4 {
             font-size: 15px;
             line-height: 1.35; 
           }
             .akoma-ntoso .akn-subheading {
               text-align: center;
               font-style: italic; 
             }
               .akoma-ntoso .akn-akomaNtoso, .akoma-ntoso .akn-act, .akoma-ntoso .akn-coverPage, .akoma-ntoso .akn-preface, .akoma-ntoso .akn-preamble, .akoma-ntoso .akn-conclusions, .akoma-ntoso .akn-chapter, .akoma-ntoso .akn-part, .akoma-ntoso .akn-subsection, .akoma-ntoso .akn-blockList,  .akoma-ntoso .akn-subheading {
                 display: block; }
             .akoma-ntoso .akn-preface, .akoma-ntoso .akn-preamble {
                   margin-bottom: 1.6em; 
                 }
             .akoma-ntoso .akn-preface > .akn-p, .akoma-ntoso .akn-preamble > .akn-p {
                     display: block;
                     margin-bottom: 0.8em; 
               }
                     
   .akoma-ntoso .akn-chapter, .akoma-ntoso .akn-part, .akoma-ntoso .akn-section {
     margin-bottom: 1.6em; 
   }
     .akoma-ntoso .akn-subsection {
       margin-left: 3em;
       margin-bottom: 0.8em; 
     }
       .akoma-ntoso .akn-subsection > .akn-num {
         display: block;
         float: left;
         margin-left: -3em; 
       }
   .akoma-ntoso .akn-content > .akn-p {
     display: block;
     margin-bottom: 0.8em; 
   }
   .akoma-ntoso .akn-list > .akn-intro {
     display: block;
     margin-bottom: 0.8em; }
     .akoma-ntoso .akn-list > .akn-point {
       display: block;
       margin-left: 3em;
       margin-bottom: 0.8em; }
       .akoma-ntoso .akn-list > .akn-point > .akn-num {
         display: block;
         float: left;
         margin-left: -3em; }
   .akoma-ntoso .akn-blockList .akn-listIntroduction {
     display: block;
     margin-bottom: 0.8em; }
     .akoma-ntoso .akn-blockList > .akn-item {
       display: block;
       margin-left: 3em;
       margin-bottom: 0.8em; }
       .akoma-ntoso .akn-blockList > .akn-item > .akn-num {
         display: block;
         float: left;
         margin-left: -3em; }
   .akoma-ntoso .akn-def {
     font-weight: bold; }
     .akoma-ntoso .akn-remark {
       font-style: italic; }
       .akoma-ntoso .coverpage {
         text-align: center;
         margin-bottom: 1.6em; }
         .akoma-ntoso .coverpage .amendment-list {
           margin-top: 1.6em;
           padding: 0px; }
           .akoma-ntoso .coverpage .amendment {
             list-style: none;
             margin-bottom: 0.8em;
             font-style: italic; }
             .akoma-ntoso .coverpage .assent-date, .akoma-ntoso .coverpage .commencement-date {
               margin-bottom: 0.8em;
               font-weight: bold; }
   .akoma-ntoso .akn-shortTitle {
     font-size: 20px; }

 .akoma-ntoso table {
   width: 100%;
   margin-bottom: 1.6em;
   border: 1px solid #ddd; }
 .akoma-ntoso table th, .akoma-ntoso table td {
   border-left: 1px solid #ddd;
   padding: 5px;
   text-align: left;
   vertical-align: top;
   border-top: 1px solid #ddd; }
 .akoma-ntoso table th {
   font-weight: bold; }
 .akoma-ntoso table thead th {
   vertical-align: bottom; }
 .akoma-ntoso table caption + thead tr:first-child th,
 .akoma-ntoso table caption + thead tr:first-child td,
 .akoma-ntoso table colgroup + thead tr:first-child th,
 .akoma-ntoso table colgroup + thead tr:first-child td,
 .akoma-ntoso table thead:first-child tr:first-child th,
 .akoma-ntoso table thead:first-child tr:first-child td {
   border-top: 0; }
 .akoma-ntoso table tbody + tbody {
   border-top: 2px solid #ddd; }
 .akoma-ntoso table .table {
   background-color: white; }



 .akn-content table th, .akn-content table td {
     border-left: 1px solid #ddd;
     padding: 5px;
     text-align: left;
     vertical-align: top;
     border-top: 1px solid #ddd;
 }
 
