{% extends 'web/layouts/semantic.html' %}


{% block content %}
        
<div class="mdl-grid">
  <div  class="mdl-cell mdl-cell--12-col ">
    <h5>{{ webDoc.short_title }} :- '{{ section_id }}'</h5>

    <form action="." method="post" >
      {% csrf_token %}
      <textarea name="editor1" id="editor1" rows="10" cols="80">
        {{ explain_html | safe }}
      </textarea>
      <p>
  			<input value="Submit" type="submit">
  		</p>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<script>
$( document ).ready(function() {
  // Handler for .ready() called.
  CKEDITOR.replace( 'editor1' ,{
    startupFocus: true,
    fillEmptyBlocks: false,
    entities_greek : false,
    entities_latin : false,
  });
                  
});
</script>
{% endblock %}
