{% extends 'web/layouts/semantic_sidebar.html' %}

{% load staticfiles %}

{% block stylesheets %}

<style>

.pusher>.page-content, .started.pushable .page-content {
min-width: 112px;
}
.law-icons > svg{
   width: 150px;
   height: 150px !important;

 }
.law-icons {
     width: 150px;
     height: 150px;
     margin: 0 auto;
     background-size: contain;
 }

@font-face {
	font-family: 'Eligible';
	src: url('{% static "font/eligible/Eligible-Bold.eot" %} ');
	src: url('{% static "font/eligible/Eligible-Bold.eot?#iefix" %} ') format('embedded-opentype'),
		url('{% static "font/eligible/Eligible-Bold.woff" %} ') format('woff'),
		url('{% static "font/eligible/Eligible-Bold.ttf" %} ') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Eligible';
	src: url('{% static "font/eligible/Eligible-Regular.eot" %} ');
	src: url('{% static "font/eligible/Eligible-Regular.eot?#iefix" %} ') format('embedded-opentype'),
		url('{% static "font/eligible/Eligible-Regular.woff" %} ') format('woff'),
		url('{% static "font/eligible/Eligible-Regular.ttf" %} ') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Eligible';
	src: url('{% static "font/eligible/Eligible-Bold-Italic.eot" %} ');
	src: url('{% static "font/eligible/Eligible-Bold-Italic.eot?#iefix" %} ') format('embedded-opentype'),
		url('{% static "font/eligible/Eligible-Bold-Italic.woff" %} ') format('woff'),
		url('{% static "font/eligible/Eligible-Bold-Italic.ttf" %} ') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Eligible';
	src: url('{% static "font/eligible/Eligible-Italic.eot" %} ');
	src: url('{% static "font/eligible/Eligible-Italic.eot?#iefix" %} ') format('embedded-opentype'),
		url('{% static "font/eligible/Eligible-Italic.woff" %} ') format('woff'),
		url('{% static "font/eligible/Eligible-Italic.ttf" %} ') format('truetype');
	font-weight: 500;
	font-style: italic;
}


</style>
<link rel="stylesheet" href="{% static "stylesheets/act.css" %} " />
{% endblock %}


{% block desktop-drawer %}

{% include "web/ldp/ldp_drawer.html" %}
{% endblock %}

{% block mobile-drawer %}

{% include "web/ldp/mobile_ldp_drawer.html" %}
{% endblock %}

{% block content %}
<div class="main ui  container ">
              
  {% if docExplainerBlock__intro %}        
  <div class="ui two column stackable grid " style="border-radius: 2px;background-color: #f4f9f4; padding: 12px 56px;margin-bottom: 10px;">
    <div  class="column " >
      <div class="ui ">
        {% static "" as baseUrl %}
        <div class="law-icons {{ webDoc.get_logo_class }}"  data-grunticon-embed></div>
        <h1>{{ webDoc.short_title }}</h1>
      
        <div class="ui three column centered grid">
          <div class=" column centered row">
            <a class="law-explore law-item" href="#doc">
              <button class="ui green large button">
                Explore
              </button>
            </a>
          </div>
        </div>
      

      </div>
    </div>
    <div  class=" column intro-card">
      {{ docExplainerBlock__intro.text | safe }}
    </div>
  </div>
  {% endif %}

  <div class="ui main container" id="doc" style="padding-top:32px; {% if not docExplainerBlock__intro %} width:70% !important {% endif %}" >
    {% if user.is_authenticated and user.is_staff %}
    <div class="ui ">
      <a class="law-explore" href="/law/explain/{{ webDoc.document_id }}/intro">
        <button class="ui basic button">
          Edit Intro
        </button>
      </a>
    </div>
    {% endif %}
    <div class="ui three column centered grid">
      <div class=" column centered row">
    {% if webDoc.is_stub %}
      <span style="border-bottom:2px solid red;font-size: 16px;"><a href="/write-to-us" >This law needs updating. Help us out</a></span>
    {% else %}
      <span style="border-bottom:2px solid green;font-size: 16px;">Updated till {{ webDoc.document_updated_at|date:"M, Y" }}</span>
    {% endif %}
    </div></div>
    <div class="akoma-ntoso " >
      {{ cdoc_html | safe }}
    </div>
  </div>
</div>

{% endblock %}

