{% load staticfiles %}

<div class="ui vertical sidebar menu visible accordion ldp-drawer-desktop"  >

    <div class="item">
      <a class="ui logo icon image" href="/">
        <img class="ui centered small image" src="{% static "images/logo_400_green.jpg" %}"  >
      </a>
    </div>
  
    <a class="item law-item" href="#doc">{{ webDoc.short_title }}</a>

    {% for toc in nav_toc %}
      {% if toc.children %}
        <div>
          <div class="title">  
            <a class="item law-item"  > {{ toc.title }}<i class="dropdown icon"></i></a> 
          </div>
          <div class="content">
            <div class="">
                {% for child in toc.children %}
                  <a class="item law-item" href="#{{ child.hash }}" > {{ child.title }}</a>
                {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <a class="item law-item" href="#{{ toc.hash }}" > {{ toc.title }}</a>
      {% endif %}
    {% endfor %}

</div>

        