{% load staticfiles %}

<div class="ui vertical sidebar menu accordion ldp-drawer-mobile" id="toc" >
  <div class="item">
    <a class="ui logo icon image" href="/">
      <img src="{% static "images/logo_160_green.jpg" %}"  >
    </a>
  </div>
  <div>
    <div class="title">  
      <a class="item"  >Home<i class="dropdown icon"></i></a>
    </div>
    <div class="content">
      {% include "web/layouts/_partials/_header_links.html" %}
    </div>
  </div>
  <a class="item" href="{{ webDoc.get_url }}">{{ webDoc.short_title }}</a>

  {% for toc in nav_toc %}
    {% if toc.children %}
      <div class="">
        <div class="title">  
          <a class="item law-item"  > {{ toc.title }}<i class="dropdown icon"></i></a> 
        </div>
        <div class="content">
            {% for child in toc.children %}
              <a class="item law-item" href="#{{ child.hash }}" > {{ child.title }}</a>
            {% endfor %}
        </div>
      </div>
    {% else %}
      <a class="item law-item" href="#{{ toc.hash }}" > {{ toc.title }}</a>
    {% endif %}
  {% endfor %}
</div>