{% load staticfiles %}

<div class="ui vertical sidebar menu" id="toc" >
  <div class="item">
    <a class="ui logo icon image" href="/">
      <img src="{% static "images/logo_160_green.jpg" %}"  >
    </a>
  </div>
  {% include "web/layouts/_partials/_header_links.html" %}
</div>