{% load static %}

<div class="ui vertical sidebar menu visible"  >
  <div class="item">
    <a class="ui logo icon image" href="/">
      <img class="ui centered small image" src="{% static "images/logo_400_green.jpg" %}"  >
    </a>
  </div>
  {% include "web/layouts/_partials/_header_links.html" %}
</div>