{% load staticfiles %}

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted  grid">
      <div class="six wide column   container">
       {% include "web/layouts/_partials/_footer_social.html" %}
      </div>
      <div class="ten wide column  container">
         {% include "web/layouts/_partials/_footer_nyaaya_links.html" %}
      </div>
    </div>
  </div>
</div>
