        <div class="ui horizontal inverted  small divided link list">
          <a href="https://www.facebook.com/nyaayain/" class="ui item">
            <i class="facebook f icon"></i>
            Facebook
          </a>
          <a href="https://www.linkedin.com/company/13200616" class="ui item">
             <i class="linkedin  icon"></i>
             Linkedin
          </a>
          <a href="https://twitter.com/NyaayaIN" class="ui item">
            <i class="twitter icon"></i>
            Twitter
          </a> 
        </div>
