{% load staticfiles %}


<div class="ui search">
  <div class="ui mini right icon input" >
    <input id="top-nav-search" class="prompt" type="text" placeholder="Search Nyaaya" >
    <i class="search icon"></i>
  </div>
</div>